$background: #040f13;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $background;
}

html,
body,
#app {
  height: 100%;
}

body,
button,
input,
select,
option {
  font-family: "Montserrat", sans-serif;
  color: white;
}

option {
  background: $background;
}
